body {
  font-family: "Poppins", sans-serif;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  max-height: 77.125rem;
  weight: 100%;
}

.navMenu {
  background-color: "#FAFBFD";
  margin: 3rem 3.5rem 0 3.5rem;
}
.navMenu h1 {
  font-weight: 600;
  font-size: 0.8125rem;
}

.navMenu nav {
  margin-top: 12rem;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}
